@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');

body {
  font-family: 'Source Sans Pro', sans-serif;
  background: darkorange;
  background-size: contain;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
  color: black;
}

input {
  font-family: 'Source Sans Pro', sans-serif;
}

.delete {
  background: transparent;
  border: none;
  font-size: 1em;
}

.d-button {
  width: 70px;
  background: darkorange;
  border: 1px solid lightgray;
  border-radius: 25px;
  color: white;
}

.delete:hover {
  cursor: pointer;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 10px;
}

.nav-btn {
  width: 100%;
  background: darkorange;
  border: 1px solid lightgray;
  border-radius: 25px;
  color: white;
  font-size: 1em;
  padding: 3px;
}

.nav-border {
  width: 90%;
  border-bottom: 1px solid black;
  margin: auto;
}

.show-border {
  width: 90%;
  border-bottom: 1px solid black;
  padding: 10px 0 20px 0;
  margin: auto;
}

.new-border {
  width: 90%;
  border-bottom: 1px solid black;
  margin: 0 auto 20px auto;
  padding: 10px 0 10px 0;
}

.container {
  background: white;
  width: 80%;

}

h1 {
  color: darkorange;
}

.title-container {
  height: 2em;
  padding-bottom: 10px;
  font-size: 1.2em;
}

.index {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-right: 10px;
}


.index-list {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10px 0 10px;
}

.img-container {
  padding-top: 5px;
}

.index-img {
  border-radius: 25px;
}

.bottom-btns {
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding-top: 10px;
}

.index-img {
  width: 300px;
  height: 500px;
}

h2 {
  padding-left: 20px;
}

.show-container {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}

.show-img {
  padding-right: 20px;
  width: 450px;
  height: 650px;
  border-radius: 25px;
}

.infotainer {
  width: 400px;
  height: 650px;
  display: flex;
  flex-direction: column;
}

.description {
  width: 100%;
  height: 650px;
}

.desc-links {
  width: 100%;
  height: 25px;
  display: flex;
  justify-content: space-around;
}

.button {
  background: darkorange;
  border: 1px solid lightgray;
  border-radius: 25px;
  width: 50px;
  display: flex;
  justify-content: center;
  color: white;
}

.comment-section {
  width: 100%;
  padding-left: 20px;
}

li {
  list-style: none;
}

.comment-username {
  display: none;
}

.comment-container {
  width: 90%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid lightgray;
  border-radius: 25px;
}

#comment-submit {
  color: white;
  background: darkorange;
  border: 1px solid lightgray;
  border-radius: 25px;
}

.comment-user {
  color: darkorange;
}

.form {
  padding-left: 20px;
}

footer {
  font-size: 2em;
  margin: 20px auto 10px auto;
}




@media (max-width: 850px) {
  body {
    font-family: 'Source Sans Pro', sans-serif;
    background: darkorange;
    background-size: contain;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1em;
  }

  a {
    text-decoration: none;
    color: black;
  }

  input {
    font-family: 'Source Sans Pro', sans-serif;
  }

  .delete {
    background: transparent;
    border: none;
    font-size: 1em;
  }

  .d-button {
    width: 70px;
    background: darkorange;
    border: 1px solid lightgray;
    border-radius: 25px;
    color: white;
  }

  .delete:hover {
    cursor: pointer;
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px;
  }

  .nav-btn {
    width: 100%;
    background: darkorange;
    border: 1px solid lightgray;
    border-radius: 25px;
    color: white;
    font-size: 1em;
    padding: 3px;
  }

  .nav-border {
    width: 90%;
    border-bottom: 1px solid black;
    margin: auto;
  }

  .show-border {
    width: 90%;
    border-bottom: 1px solid black;
    padding: 10px 0 20px 0;
    margin: auto;
  }

  .new-border {
    width: 90%;
    border-bottom: 1px solid black;
    margin: 0 auto 20px auto;
    padding: 10px 0 10px 0;
  }

  .container {
    background: white;
    width: 80%;

  }

  h1 {
    color: darkorange;
  }

  .title-container {
    height: 2em;
    padding-bottom: 10px;
    font-size: 1.2em;
  }

  .index {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-right: 10px;
  }


  .index-list {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10px 0 10px;
  }

  .img-container {
    padding-top: 5px;
  }

  .index-img {
    border-radius: 25px;
  }

  .bottom-btns {
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding-top: 10px;
  }

  .index-img {
    width: 300px;
    height: 500px;
  }

  h2 {
    padding-left: 20px;
  }

  .show-container {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
  }

  .show-img {
    padding-right: 20px;
    width: 450px;
    height: 650px;
    border-radius: 25px;
  }

  .infotainer {
    width: 400px;
    height: 650px;
    display: flex;
    flex-direction: column;
  }

  .description {
    width: 100%;
    height: 650px;
  }

  .desc-links {
    width: 100%;
    height: 25px;
    display: flex;
    justify-content: space-around;
  }

  .button {
    background: darkorange;
    border: 1px solid lightgray;
    border-radius: 25px;
    width: 50px;
    display: flex;
    justify-content: center;
    color: white;
  }

  .comment-section {
    width: 100%;
    padding-left: 20px;
  }

  li {
    list-style: none;
  }

  .comment-username {
    display: none;
  }

  .comment-container {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid lightgray;
    border-radius: 25px;
  }

  #comment-submit {
    color: white;
    background: darkorange;
    border: 1px solid lightgray;
    border-radius: 25px;
  }

  .comment-user {
    color: darkorange;
  }

  .form {
    padding-left: 20px;
  }

  footer {
    font-size: 2em;
    margin: 20px auto 10px auto;
  }
}
